hnlLastStopCellInfo = '(
                           ( "analogLib" "nmos4" "auCdl" "747426816" "1321956852" )
                          ( "analogLib" "pmos4" "auCdl" "747426726" "1321956852" )
                       )
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "vlsi" "1637681591" )
                  )
hnlLastDesignVars = '( )
